@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: blue;
    color: red;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 300px;
    max-height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}